// Posts

// Import Global Variables
@import '../../styles/utilities/mixins';
@import '../../styles/base/colors';
@import '../../styles/base/placeholders';
@import '../../styles/base/typescale';

.posts {
  padding-bottom: 20px;
  background-color: $trueWhite;

  @include breakpoint(medium) {
    background-color: transparent;
  }

  & + & {
    padding-top: 10px;
    border-top: 1px solid #efefef;
  }

  header {
    padding: 20px;

    @include breakpoint(medium) {
      padding-right: 0;
      padding-left: 0;
    }

    .post_title {
      text-transform: uppercase;
    }
  }
}
