@import '../base/typescale';

// Lists
%unstyled {
  & {
    margin: 0;
    padding: 0;
    > * {
      list-style: none;
    }
  }
}

// Typography
%headline-1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-light;
  line-height: $line-height-h1;
}

%headline-2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  line-height: $line-height-h2;
}

%body-copy {
  margin-bottom: 0;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-h2;
}

%small-copy {
  font-size: $font-size-small;
  line-height: $line-height-small;
}
