// General Layout

// Import Global Variables
@import '../base/colors';
@import '../base/placeholders';
@import '../base/typescale';

// Local Variables
$background-color: $gray;
$link-color: $blue;

html {
  position: relative;
  z-index: 1;
  height: 100%;
  box-sizing: border-box;
  > * {
    box-sizing: inherit;
  }
}

body {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1;
  background-color: $background-color;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100%;
}

.react-root {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100%;

  & > * {
    padding: 0 20px;
  }
}

main {
  flex: 1 0 auto;
}

// Links
a,
a:visited {
  color: $link-color;
  font-weight: $font-weight-bold;
  text-decoration: none;
}
