// Typography

@import '../base/colors';
@import '../base/placeholders';
@import '../base/typescale';

// TypeKit
.wf-loading {
  opacity: 0;
}

.wf-active {
  opacity: 1;
}

// Headlines
h1,
h2 {
  margin: 0;
}

h1 {
  @extend %headline-1;
}

h2 {
  @extend %headline-2;
}

p {
  @extend %body-copy;
  margin-bottom: 0;
}

small {
  @extend %small-copy;
}
