// Profile Info

// Import Global Variables
@import '../../styles/utilities/mixins';
@import '../../styles/base/colors';
@import '../../styles/base/placeholders';
@import '../../styles/base/typescale';

// Local Variables
$background-color: $trueWhite;

.profile-info {
  position: relative;
  z-index: 1;
  margin: -20px -20px 0 -20px;
  padding: 20px;
  background-color: $background-color;
  border-bottom: 1px solid #efefef;

  @include breakpoint(medium) {
    margin: 0;
    padding: 20px 20px 40px;
    background-color: transparent;
  }

  .u-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .profile_photo {
    margin-bottom: 12px;

    @include breakpoint(medium) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex: 1;
      margin-bottom: 0;
      max-width: 250px;
    }

    img {
      width: 100px;
      height: 100px;

      @include breakpoint(medium) {
        width: 150px;
        height: 150px;
      }
    }
  }

  .profile_content {
    @include breakpoint(medium) {
      flex: 2;
    }
  }

  .profile_username {
    display: block;
    margin-bottom: 10px;
  }

  .profile_stats {
    display: none;

    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      max-width: 50%;
    }

    .posts_total {
      font-weight: $font-weight-bold;
    }
  }
}
