// Global Footer

// Import Global Variables
@import '../../styles/utilities/mixins';
@import '../../styles/base/colors';
@import '../../styles/base/placeholders';
@import '../../styles/base/typescale';

// Local Variables
$copyright-color: $lightGray;

.global-footer {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  line-height: 1;
  text-transform: uppercase;

  @include breakpoint(large) {
    margin-bottom: 40px;
  }

  nav {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    @include breakpoint(large) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 360px;
    width: 100%;

    @include breakpoint(large) {
      justify-content: space-between;
      margin: 0;
      max-width: 600px;
    }

    .nav_item {
      margin: 0 16px 7px 0;

      &:last-child {
        margin: 0 0 7px 0;
      }
    }
  }

  .copyright {
    color: $copyright-color;
    font-weight: $font-weight-bold;
    text-align: center;

    @include breakpoint(large) {
      text-align: right;
    }
  }
}
