// Post Container

// Global Variables
@import '../../styles/utilities/mixins';
@import '../../styles/base/colors';
@import '../../styles/base/placeholders';
@import '../../styles/base/typescale';

.posts-container {
  position: relative;
  z-index: 1;
  margin: 10px 0 40px;
}
