// Utilities

@import '../base/placeholders';
@import './mixins';

@include breakpoint(large) {
  .u-wrapper {
    margin: 0 auto;
    max-width: 935px;
    width: 100%;
  }
}

// Layout
.u-inline-text {
  display: inline;
}

.u-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.u-layout-right {
  display: block;
  text-align: right;
}

.u-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Typography
.u-headline-1 {
  @extend %headline-1;
}

.u-headline-2 {
  @extend %headline-2;
}

.u-headline-3 {
  @extend %headline-3;
}

.u-body-copy {
  @extend %body-copy;
}

.u-small-copy {
  @extend %small-copy;
}

// Lists
.u-unstyled {
  @extend %unstyled;
}

// Images
.u-round {
  border-radius: 50%;
}

.u-resp {
  display: block;
  max-width: 100%;
}
