// Individual Post

// Global Variables
@import '../../styles/utilities/mixins';
@import '../../styles/base/colors';
@import '../../styles/base/placeholders';
@import '../../styles/base/typescale';

.post_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  .post {
    margin: 1px 0;
    flex-basis: calc((100% / 2) - 1px);

    @include breakpoint(medium) {
      margin: 1px;
      flex-basis: calc((100% / 4) - 2px);
    }

    @include breakpoint(large) {
      margin: 0;
      flex-basis: 200px;
    }
  }
}
