// Global Header and Navigation

// Import Global Variables
@import '../../styles/base/colors';
@import '../../styles/base/placeholders';
@import '../../styles/utilities/mixins';

// Local Component Variables
$backgroundColor: $trueWhite;
$borderColor: $trueBlack;

.global-header {
  position: relative;
  z-index: 1;
  height: 77px;
  background-color: $backgroundColor;
  border-bottom: 1px solid rgba($borderColor, 0.0975);

  nav {
    flex-direction: row;
    height: 100%;
  }

  [data-item='logo'] {
    display: block;
    background-image: url('/app/assets/sprite.png');
    background-position: -177px 0;
    background-repeat: no-repeat;
    height: 35px;
    width: 176px;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
}
